<h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

<p class="header-subtitle">Director of Engineering</p>

<p class="text-center">Los Angeles, CA</p>

<p class="contact-block">
<strong>818-384-4415 </strong>
|
<a href="{{ site.resume_social_links.resume_twitter_url }}"> @kit_pearson </a>
|
<a href="{{ site.resume_social_links.resume_github_url }}"> github.com/kpearson </a>
|
<a href="mailto:{{ site.resume_social_links.resume_contact_email }}" itemprop="email"> kitpearson@me.com </a>
</p>

<hr>

{% include summery.md %}
